* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}


@keyframes fromBelow {
    0% {
        transform: translateY(30%);
        opacity: 0;
    }
    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}

.navbar-from-below{
    animation: fromBelow 0.7s forwards;
}

.logo-pizzeria{
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
}

.width-navbar{
    width: 100%;
}
